body {
    margin: 0;
}

div {
    width: 100px;
    height: 100px;
    background-color: wheat;
    position: absolute;
}

.box-1 {
    left: 0;
    top: 0;
}

.box-2 {
    top: 50px;
    left: 50px;
    background-color: lightcoral;
    z-index: -1;
}

.box-3 {
    right: 0;
    bottom: 0;
}

.box-4 {
    left: 0;
    bottom: 0;
}