html {
    scroll-behavior: smooth;
}

div {
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: wheat;
    resize: both;
    overflow: hidden;
}

footer {
    background-color: black;
    color: white;
}

.box-1 {
    width: 200px;
    height: 100px;
    cursor: pointer;
}

.box-2 {
    width: 150px;
    height: 50px;
    user-select: none;
    background-color: wheat;
}

.button-1 {
    pointer-events: none;
}